/* Site by Eric K. */

/* General ---------- */

:root {
    --text-color: #ffffff;
    --text-color-2: #858893;
    --background-color: #000814;
    --background-color-2: #031020;
    --phase-color: #003566;
    /*
    #001d3d
    #003566
    #ffc300
    #ffd60a
    */

    /* Sizes */
    --card-size: 300px;
}

html {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
}

body {
    background-color: var(--background-color);
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;
    align-items: center;
}

main {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.page-link {
    color: var(--text-color);
    text-decoration: none;
}

/* Navbar ---------- */

nav {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--background-color-2);
    padding-inline: 2em;
    padding-block: 1.2em;
}

.nav-col {
    width: 100%;
}

#nav-left {
    display: flex;
    align-items: center;
    justify-content: left;
}

#nav-mid {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-right {
    display: flex;
    align-items: center;
    justify-content: right;
}

.title {
    font-size: 2em;
    font-weight: 100;
    color: var(--text-color);
    text-align: center;
}

.breadcrumb {
    font-size: 1.3em;
}

.breadcrumb a {
    color: var(--text-color-2);
    text-decoration: none;
}

.breadcrumb a:hover {
    color: var(--text-color);
}


/* Card Grid -------------------- */

.card-grid {
    display: grid;
    justify-content: center;
    grid-gap: 1rem;
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    padding-inline: calc(var(--card-size) / 3);
    grid-template-columns: repeat( auto-fit, minmax(var(--card-size), 0.8fr));
}

.card {
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform .25s;
    filter: contrast(120%);
}

.card:hover .card-image {
    transform: scale(1.2);
}

.card-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    backdrop-filter: blur(4px) brightness(66%);
    width: 100%;
    height: 25%;
    transition: height .25s;
}

.card:hover .card-text {
    height: 100%;
}

.card-name {
    margin: 0.8rem;
    display: block;
}

.card:hover .card-name {
    display: none;
}

.card-fullname {
    margin: 0.8rem;
    display: none;
    font-size: 1.5em;
}

.card:hover .card-fullname {
    text-align: center;
    display: block;
}

.card-title {
    font-weight: 900;
    filter: drop-shadow(0 0 8px #000);
}

/* 404/204 ---------- */

#not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 2em;
}

/* Malla ---------- */

#interior {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#malla {
    margin-inline: 10px;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.banner-title {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 1.5em;
    padding-inline: 0.5em;
    background-color: var(--phase-color);
    text-align: center;
}

.phases {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.phase {
    display: flex;
    height: 100%;
    flex-direction: row;
}

.semesters {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.semester {
    display: flex;
    flex-direction: row;
}

/* Courses ---------- */

.courses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.course {
    min-width: 160px;
    max-width: 160px;
    height: 80px;
    margin-inline: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    background-color: #858893;
}

.course-bar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    height: 1em;
    padding-bottom: 0.2em;
    background-color: #003566;
}

.course-bar > span {
    margin-inline: 0.3em;
}

.course-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.course-name {
    font-size: 0.8em;
    padding-inline: 0.2em;
    padding-block: 0.2em;
    color: #000;
    text-align: center;
}