@use "values/colors" as c;
@use "values/sizes" as s;

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font: {
        family: "Lato", sans-serif;
        weight: 400;
        style: normal;
    }
    color: c.$text-black;
}

body {
    background: c.$background-gradient;
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main {
    padding-inline: 1rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

// Unstyled link
.page-link {
    color: c.$text-white;
    text-decoration: none;
}

// 404 page content
#not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 2em;
}

.hidden {
    display: none !important;
}

a.link {
    color: c.$link-color;
    text-decoration: none;

    &:hover {
        color: c.$link-color-hover;
    }
}
