<footer>
    <div id="footer-credit">
        <span>Página por: </span
        ><a class="link" href="https://eri.cl" target="_blank">Eric K.</a>
    </div>
    <div id="footer-links">
        <a
            class="link"
            href="https://github.com/Nyveon/malla-fcfm/issues"
            target="_blank"
            >Reportes/Sugerencias</a
        >
        <a
            class="link"
            href="https://github.com/Nyveon/malla-fcfm/"
            target="_blank"
            aria-label="Github"
        >
            <img src="/images/icons/github-icon.svg" alt="" />
        </a>
    </div>
</footer>
