<!-- prettier-ignore -->
{% macro numberInput(id, min, max) %}
<button
	@click="{{ id }} = Math.max({{ id }} - 1, {{ min }});"
	aria-label="Menos uno"
>
	-
</button>
<input
	type="number"
	id="{{ id }}"
	name="{{ id }}"
	min="{{ min }}"
	max="{{ max }}"
	x-model.number="{{ id }}"
/>
<button
	@click="{{ id }} = Math.min({{ id }} + 1, {{ max }});"
	aria-label="Más uno"
>
	+
</button>
{% endmacro %}

<!-- prettier-ignore -->
{% macro checkboxInput(id, ariaLabel) %}
<div role="checkbox" :aria-checked="{{ id }}" aria-label="{{ ariaLabel }}">
	<input type="checkbox" id="{{ id }}" name="{{ id }}" x-model="{{ id }}" />
	<div class="slider"></div>
</div>
{% endmacro %}

<div>
    
    <div id="edit-mode" :class="editMode && 'open'">
        <button
            @click="editMode = !editMode;"
            class="icon-button"
            aria-label="Edición"
            title="Marcadores"
        >
            <img :src="editMode ? '/images/icons/close-round-icon.svg' : '/images/icons/pencil-icon.svg'" alt="" />
        </button>

        <div x-show="editMode" x-transition x-cloak id="edit-mode-colors">
            <template x-for="index in 4">
                <div
                    class="color-option"
                    :class="(editModeColor === index) && 'selected'"
                    :data-mark-color="index"
                    @click="editModeColor = index;"
                ></div>
            </template>

            <button
                id="clear-all-marks"
                class="icon-button"
                aria-label="Des-marcar todos"
                title="Des-marcar todos"
                @click="clearAllMarks(editModeColor);"
            >
                <img src="/images/icons/broom-cleaning-icon.svg" alt="" />
            </button>
        </div>

    </div>


	<button
		id="open-settings"
		@click="settingsOpen = !settingsOpen;"
        class="icon-button"
		:class="settingsOpen ? 'open' : '';"
		aria-label="Configuración"
        title="Configuración"
	>
		<img src="/images/icons/settings-gear-icon.svg" alt="" />
	</button>

	<ul
		id="settings"
		x-show="settingsOpen"
		@click.away="settingsOpen = false;"
		x-transition:enter="transition ease-out duration-300"
		x-cloak
	>
		{% for section in settings %}
		<li class="setting-section">{{ section.name }}</li>
		{% for setting in section.settings %}
		<li class="setting {{ setting.type }}-input">
			<label for="{{ setting.id }}">
				<span>{{ setting.name }}</span>
				<div>
					{% if setting.type == "number" %}
					{{ numberInput(setting.id, setting.min, setting.max) }}
					{% elif setting.type == "checkbox" %}
					{{ checkboxInput(setting.id, setting.name) }}
					{% endif %}
				</div>
			</label>
		</li>
		{% endfor %} {% endfor %}
	</ul>
</div>
