{% extends "base.njk" %}

{% block head %}
<script src="/js/malla.js" type="text/javascript"></script>
{% endblock %}

{% block navleft %}
<div id="breadcrumb">
    <a class="link" href="/">Mallas</a>
    <span>> {{ name }}</span>
</div>
{% endblock %}

{% block navright %}
test2
{% endblock %}
