@use "../abstracts/colors" as c;
@use "../abstracts/sizes" as s;
@use "../abstracts/mixins" as m;

$shine-width: 4rem;

@mixin hide-bar {
    .course-bar {
        background: transparent;

        span {
            color: c.$text-black;
        }

        &::before {
            height: 0%;
        }
    }
}

.course {
    @include m.pretty-shadow;
    @include m.flex-col;
    cursor: pointer;
    overflow: hidden;
    min-width: s.$course-width;
    max-width: s.$course-width;
    height: s.$course-height;
    position: relative;
    background-color: c.$course-color;

    @include m.media-medium {
        min-width: s.$course-width-small;
        max-width: s.$course-width-small;
        font-size: 0.9em;
    }

    &::before,
    &::after {
        @include m.pseudo;
        z-index: -1;
    }

    &::before {
        @include m.default-animate(inset);
    }

    &::after {
        @include m.default-animate(opacity);
        opacity: 0;
    }

    $border-size: s.$space-thin * -2;

    &.selected {
        background: c.$background-gradient;

        &::before {
            inset: $border-size;
        }

        @include hide-bar;
    }

    @each $index, $color in c.$mark-colors {
        &[data-mark-color="#{$index}"] {
          --mark-color: #{$color};

        }
    }

    &.marked {
        --mark-color-outline: color-mix(in oklch, var(--mark-color) 75%, black 25%);
        --mark-color-hover-outline: color-mix(in oklch, var(--mark-color) 75%, white 25%);

        outline: var(--mark-color-outline) solid s.$space-thin;

        > .course-bar {
            background-color: var(--mark-color) !important;

            &::before {
                background: transparent;
            }

            span {
                color: c.$text-black;
            }
        }

        > .course-body {
            background-color: var(--mark-color);
            font-style: italic;

            &::after {
                transform: translateX(s.$course-width + $shine-width) rotate(45deg);
                transition: 0.35s ease-in-out;
            }
        }

        &:hover {
            outline: var(--mark-color-hover-outline) solid s.$space-thin;

            > .course-body {
                filter: brightness(1.1);
            }

            > .course-bar {
                filter: brightness(1.1);
            }
        }
    }

    &:hover {
        background: c.$background-gradient;
        outline: c.$course-outline solid s.$space-thin;
    }
}

.course.prerequisite,
.course.postrequisite {
    background: transparent;

    &::before {
        opacity: 0;
    }

    @include hide-bar;
}

.course.prerequisite::after {
    background: c.$highlight-gradient-1;
}

.course.postrequisite::after {
    background: c.$highlight-gradient-2;
}

.course-bar {
    width: 100%;
    position: relative;
    height: auto;
    display: flex;
    justify-content: space-between;

    span {
        margin-inline: s.$space-thick;
        color: c.$text-white;
        z-index: 1;
    }

    &::before {
        height: 100%;
        @include m.default-animate;
    }

    @include m.media-small {
        font-size: s.$small
    }
}

.course-body {
    position: relative;
    @include m.flex-center;
    height: 100%;

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: -$shine-width;
        width: $shine-width * 3;
        height: 100%;
        content: "";
        transform: translateX(-100%) rotate(45deg);
        background-color: white;
        transition: 0s ease-in-out;
    }
}

.course-name {
    font-size: s.$small;
    padding: s.$space-thin;
    text-align: center;
}

// Selection effects
$base-opacity: 80%;

@for $i from 0 through 9 {
    .course.prerequisite.depth-#{$i},
    .course.postrequisite.depth-#{$i} {
        &::after {
            opacity: $base-opacity - ($i * 7%);
        }
    }
}


// Department decorators
@each $department,
$gradient in c.$department-gradients {
    .#{$department} .course-bar {
        &::before {
            @include m.pseudo;
            background: $gradient;
        }
    }

    .#{$department}.course::before {
        background: $gradient;
    }
}