@use "../abstracts/colors" as c;
@use "../abstracts/sizes" as s;
@use "../abstracts/mixins" as m;

.icon-button {
    @include m.flex-center;
    @include m.default-animate;
    cursor: pointer;
    width: s.$very-large;
    height: s.$very-large;
    background: transparent;
    border: none;
    border-radius: 25%;

    &:hover {
        background-color: c.$settings-color;
    }

    &>img {
        @include m.default-animate;
    }
}

#open-settings.open > img {
    transform: rotate(180deg);
}

#edit-mode {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.25rem;

    &.open {
        border-radius: 0.5rem;
        background-color: c.$mark-settings-color;
    }
}

#edit-mode-colors {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 0.5rem;

    > .color-option {
        width: 1rem;
        height: 1rem;
        border-radius: 25%;
        outline: 1px solid c.$text-dark;

        &:hover {
            outline: 1px solid c.$text-mid;
            cursor: pointer;
        }

        &.selected {
            outline: 1px solid c.$text-white;
        }

        @each $index, $color in c.$mark-colors {
            &[data-mark-color="#{$index}"] {
              background-color: #{$color};
            }
        }
    }
}

#clear-all-marks {
    &:hover {
        background-color: c.$red1;
    }
}

#settings {
    @include m.basic-shadow;
    position: absolute;
    list-style-type: none;
    color: c.$text-white;
    background-color: c.$settings-color;
    text-align: left;
    padding: s.$medium;
    border-radius: 5%;
    z-index: 100;
    top: s.$very-large;
    font-size: s.$medium;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button,
    input[type=number] {
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: textfield !important;
        appearance: none;
    }

    button {
        background-color: transparent;
        backdrop-filter: brightness(80%);
        border: none;
        color: c.$text-white;
        cursor: pointer;
        @include m.pretty-shadow;
    }

    &> * + * {
        margin-top: s.$medium;
    }
}

.setting-section {
    font-weight: bold;
}

$setting-height: s.$large;

.setting {
    width: s.$setting-size;

    label {
        @include m.flex-row;
        justify-content: space-between;
    }

    &.number-input {
        input {
            width: s.$very-large;
            text-align: center;
            background: transparent;
            border: none;
            color: c.$text-white;
        }

        button {
            width: $setting-height;
            height: $setting-height;
            border-radius: s.$space-thick;

            &:hover {
                background-color: c.$text-white;
                color: c.$settings-color;
            }

            &:active {
                transform: scale(0.9);
            }
        }
    }

    &.checkbox-input {    
        input {
            display: none;
        }
    
        input:checked {
            &+.slider {
                background-color: c.$text-white;
    
                &::before {
                    transform: translateX($setting-height);
                    background-color: c.$checkbox-selected;
                }
    
                &:hover {
                    background-color: c.$text-mid;
                }
            }
        }
    
        .slider {
            cursor: pointer;
            @include m.default-animate;
            @include m.pretty-shadow;
            position: relative;
            background-color: c.$text-mid;
            border-radius: $setting-height;
            width: $setting-height * 2;
            height: $setting-height;
            margin-right: s.$medium;
    
            &::before {
                @include m.pseudo;
                @include m.default-animate;
                height: $setting-height;
                width: $setting-height;
                background-color: c.$checkbox-unselected;
                border-radius: 50%;
                border: 1px solid c.$text-mid;
            }
    
            &:hover {
                background-color: c.$text-white;
            }
        }
    }
}
