@use "../abstracts/colors" as c;
@use "../abstracts/sizes" as s;
@use "../abstracts/mixins" as m;

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    @include m.flex-col;
    justify-content: flex-start;
    background: c.$background-gradient;
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
}

main {
    padding-inline: s.$medium;
    padding-block: s.$very-large;
}

.link {
    color: c.$link-color;
    text-decoration: none;

    &:hover {
        color: c.$link-color-hover;
    }
}

.ulink {
    @include m.u-link;
}

#fof {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #333;
}