@use "../abstracts/colors" as c;
@use "../abstracts/sizes" as s;

nav {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding-inline: 2em;
    padding-block: 1.2em;
    background-color: c.$navbar-color;
    color: c.$text-dark;
}

.nav-col {
    width: 100%;
    display: flex;
    align-items: center;
}

#nav-left {
    justify-content: left;
}

#nav-mid {
    justify-content: center;
}

#nav-right {
    justify-content: right;
    position: relative;
}

.title {
    font-size: 2em;
    font-weight: 100;
    text-align: center;

    @media screen and (max-width: s.$breakpoint-small) {
        font-size: 1.5em;
    }
}

.breadcrumb {
    font-size: 1.3em;

    @media screen and (max-width: s.$breakpoint-small) {
        span {
            display: none;
        }
    }
}