@use "../values/colors" as c;
@use "../values/sizes" as s;

.card-grid {
    display: grid;
    justify-content: center;

    grid: {
        gap: 1rem;
        auto-rows: 200px;
        auto-flow: dense;
        template-columns: repeat( auto-fit, minmax(s.$card-width , 1fr));
    }

    padding-inline: 10%;
    color: c.$text-white;

    @media only screen and (max-width: s.$breakpoint-large) {
        $factor: 0.8;
        grid-template-columns: repeat( auto-fit, minmax(calc(s.$card-width * $factor), 1fr));
        grid-auto-rows: calc(200px * $factor);
        padding-inline: 5%;
        font-size: 0.9em;
    }

    @media only screen and (max-width: s.$breakpoint-small) {
        $factor: 0.5;
        grid-template-columns: repeat( auto-fit, minmax(calc(s.$card-width  * $factor), 1fr));
        grid-auto-rows: calc(200px * $factor);
        padding-inline: 8px;
        font-size: 0.8em;
    }
}

.card {
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    height: 100%;

    &:hover {
        .card-image {
            transform: scale(1.2);
        }

        .card-text {
            height: 100%;
        }

        .card-name {
            display: none;
        }

        .card-fullname {
            text-align: center;
            display: block;
        }
    }
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform .25s;
    filter: contrast(120%);
}

.card-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    backdrop-filter: blur(4px) brightness(66%);
    width: 100%;
    height: 25%;
    transition: height .25s;

    @media only screen and (max-width: s.$breakpoint-small) {
        height: auto;
    }
}

.card-name {
    margin: 0.8rem;
    display: block;
}

.card-fullname {
    margin: 0.8rem;
    display: none;
    font-size: 1.5em;
}

.card-title {
    font-weight: 900;
    filter: drop-shadow(0 0 8px #000);
}