:root {
    --course-size: 160px;
}


.courses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

@media only screen and (max-width: 1140px) {
    .courses {
        align-items: center;
        justify-content: center;
    }
}

.course {
    min-width: var(--course-size);
    max-width: var(--course-size);
    height: 80px;
    margin-inline: 10px;
    margin-block: 5px;
    display: flex;
    flex-direction: column;
    background-color: var(--course-background);
}

@media only screen and (max-width: 600px) {
    .course {
        min-width: 120px;
        max-width: 120px;
        font-size: 0.9em;
        margin-inline: 5px;
    }
}

.course-bar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    height: 1em;
    padding-bottom: 0.2em;
    background-color: #003566;
}

.course-bar > span {
    margin-inline: 0.3em;
    color: var(--text-color-light);
}

.course-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.course-name {
    font-size: 0.8em;
    padding-inline: 0.2em;
    padding-block: 0.2em;
    color: var(--course-text);
    text-align: center;
}

/* Selection effects */

.course.selected {
    filter: brightness(1.5);
}

.course.prerequisite {
    filter: brightness(0.5);
}


/* Department Decorators */

.MA .course-bar {
    background: var(--MA);
}

.CC .course-bar {
    background: var(--CC);
}

.FI .course-bar {
    background: var(--FI);
}

.CD .course-bar {
    background: var(--CD);
}

.IQ .course-bar {
    background: var(--IQ);
}

.BT .course-bar {
    background: var(--BT);
}

.IN .course-bar {
    background: var(--IN);
}

.EI .course-bar {
    background: var(--EI);
}

.XF .course-bar {
    background: var(--XF);
}

.XT .course-bar {
    background: var(--XT);
}

.XE .course-bar {
    background: var(--XE);
}