@use "../values/colors" as c;
@use "../values/sizes" as s;

@mixin hide-bar {
    .course-bar {
        background: transparent;

        span {
            color: c.$text-black;
        }

        &::before {
            height: 0%;
        }
    }
}

.course {
    min-width: s.$course-width;
    max-width: s.$course-width;
    height: s.$course-height;
    margin-inline: 10px;
    margin-block: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: c.$course-color;
    box-shadow:
        0 1px 1px hsla(45deg, 0%, 0%, 0.075),
        0 2px 2px hsla(45deg, 0%, 0%, 0.075),
        0 4px 4px hsla(45deg, 0%, 0%, 0.075),
        0 8px 8px hsla(45deg, 0%, 0%, 0.075),
    ;

    @media only screen and (max-width: s.$breakpoint-medium) {
        min-width: 120px;
        max-width: 120px;
        font-size: 0.9em;
        margin-inline: 5px;
    }

    &::before, &::after {
        content: '';
		position: absolute;
        inset: 0;
        z-index: -1;
    }

    &::before {
        transition: inset 0.3s ease;
    }

    &::after {
		transition: opacity 0.3s ease;
        opacity: 0;
    }

    $outerBorderWidth: 2px;
	$innerBorderWidth: 2px;

    &.selected {
        background: c.$background-gradient;

        &::before {
            top: -($outerBorderWidth + $innerBorderWidth);
            right: -($outerBorderWidth + $innerBorderWidth);
            bottom: -($outerBorderWidth + $innerBorderWidth);
            left: -($outerBorderWidth + $innerBorderWidth);
        }

        @include hide-bar;
    }
}

.course.prerequisite, .course.postrequisite {
    background: transparent;

    &::before {
        opacity: 0;
    }

    @include hide-bar;
}

.course.prerequisite::after{
    background: c.$highlight-gradient-1;
}

.course.postrequisite::after{
    background: c.$highlight-gradient-2;
}

.course-bar {
    width: 100%;
    position: relative;
    height: auto;
    display: flex;
    justify-content: space-between;

    span {
        margin-inline: 0.3em;
        color: c.$text-white;
        z-index: 1;
    }

    &::before {
        height: 100%;
        transition: all 200ms ease-in;
    }

    @media only screen and (max-width: s.$breakpoint-small) {
        font-size: 0.8rem;
    }
}

.course-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.course-name {
    font-size: 0.8em;
    padding-inline: 0.2em;
    padding-block: 0.2em;
    text-align: center;
}

// Selection effects
$base-opacity: 80%;

@for $i from 0 through 9 {
    .course.prerequisite.depth-#{$i}, .course.postrequisite.depth-#{$i} {
        &::after {
            opacity: $base-opacity - ($i * 7%);
        }
    }
}


// Department decorators
@each $department, $gradient in c.$department-gradients {
    .#{$department} .course-bar {
        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: $gradient;
        }
    }

    .#{$department}.course::before {
        background: $gradient;
    }
}
