@use "../values/colors" as c;
@use "../values/sizes" as s;

#interior {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.banner-title {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    $size: 1.5rem;
    width: $size; // This is so it works on firefox
    font-size: $size;
    text-align: center;
    color: c.$phase-color;
    margin: 8px;

    @media only screen and (max-width: s.$breakpoint-small) {
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
        font-size: 0.8rem;
        height: 0;
        width: 0;
        margin: 0;
        display: flex;
        position: sticky;
        top: 0;
        color: c.$text-dark;
        z-index: 1;
    }
}

.phase {
    display: flex;
    flex-direction: row;

    > .banner-title {
        border-left: 1px solid c.$phase-color-line;

        @media only screen and (max-width: s.$breakpoint-medium) {
            display: none;
        }
    }
}

.semesters {
    display: flex;
    flex-direction: column;
}

.semester {
    display: flex;
    flex-direction: row;
    margin-block: 0.4rem;

    @media only screen and (max-width: s.$breakpoint-medium) {
        margin-block: 0.2rem;
    }

    @media only screen and (max-width: s.$breakpoint-small) {
        flex-direction: column;
        border-top: 1px solid c.$phase-color-line;
        padding-block: 4px;
        margin-block: 0;
    }

    > .banner-title {
        @media only screen and (max-width: s.$breakpoint-large) {
            border-left: 1px solid c.$phase-color-line;
        }

        @media only screen and (max-width: s.$breakpoint-small) {
            border-left: none;
        }
    }
}

.courses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media only screen and (max-width: s.$breakpoint-medium) {
        align-items: center;
        justify-content: center;
    }
}
