@use "../values/colors" as c;
@use "../values/sizes" as s;

#interior {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.banner-title {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 1.5em;
    padding-inline: 0.5em;
    text-align: center;
    color: c.$phase-color;

    @media only screen and (max-width: s.$breakpoint-small) {
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
        font-size: 1rem;
        width: auto;
        height: 0;
        display: flex;
        margin-top: 0.5em;
        position: sticky;
        top: 0;
        height: auto;
    }
}

.phase {
    display: flex;
    flex-direction: row;

    > .banner-title {
        margin: 8px;
        padding-left: 8px;
        border-left: 1px solid c.$phase-color-line;

        @media only screen and (max-width: s.$breakpoint-medium) {
            display: none;
        }
    }
}

.semesters {
    display: flex;
    flex-direction: column;
}

.semester {
    display: flex;
    flex-direction: row;
    margin-block: 0.3em;

    @media only screen and (max-width: s.$breakpoint-small) {
        flex-direction: column;
        border-top: 1px solid c.$phase-color-line;
    }

    > .banner-title {
        @media only screen and (max-width: s.$breakpoint-large) {
            border-left: 1px solid c.$phase-color-line;
        }

        @media only screen and (max-width: s.$breakpoint-small) {
            border-left: none;
        }
    }
}
