@use "../abstracts/colors" as c;
@use "../abstracts/sizes" as s;

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background: c.$background-gradient;
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main {
    padding-inline: s.$medium;
    padding-block: s.$very-large;
}

.link {
    color: c.$link-color;
    text-decoration: none;

    &:hover {
        color: c.$link-color-hover;
    }
}