// Breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 660px;
$breakpoint-large: 1366px;

// Element sizes
$card-width: 18.75rem;
$card-height: 12.5rem;
$course-width: 10rem;
$course-width-small: 7.5rem;
$course-height: 5rem;
$setting-size: 15rem;

// Spacings & Text
$very-small: 0.5rem;
$small: 0.75rem;
$medium: 1rem;
$large: 1.5rem;
$very-large: 2rem;

$space-thin: 0.15rem;
$space-thick: 0.3rem;