// Breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 660px;
$breakpoint-large: 1366px;

// Element sizes
$card-width: 300px;
$card-height: 200px;
$course-width: 160px;
$course-width-small: 120px;
$course-height: 80px;
$setting-size: 220px;

// Spacings
$very-small: 0.5rem;
$small: 0.75rem;
$medium: 1rem;
$large: 1.5rem;
$very-large: 2rem;

$space-thin: 0.15rem;
$space-thick: 0.3rem;